<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Error</title>
</head>
<body>
    <% include header.ejs %>

    <p>
    <div style="color:red"><%= error %></red>
    </p>
</body>
</html>
