<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Boilerplate Web Application</title>
</head>
<body>
    <% include header.ejs %>
    <p>
        <h2>NodeJs-Express-Mongo Boilerplate</h2>
        <table>
            <tr>
                <td>Environment: </td>
                <td><span style="text-transform: uppercase;font-weight:bold;"><%= environment %></span></td>
            </tr>
            <tr>
                <td>User: </td>
                <td><span style="font-weight:bold;"><%= username %></span></td>
            </tr>
        </table>
    </p>
</body>
</html>